
<div class="login-block">
    <h1>Inscreva-se</h1>
    <div class="form-group form-group-lg">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="fa fa-user"></span>
            </div>
            <input type="text" class="form-control" placeholder="Nome" id="name" />    
        </div>
    </div>
    <div class="form-group form-group-lg">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="fa fa-envelope-o"></span>
            </div>
            <input type="email" class="form-control" placeholder="E-mail" id="email" />    
        </div>
    </div>
    <div class="form-group form-group-lg">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="fa fa-phone"></span>
            </div>
            <input type="text" class="form-control" placeholder="Telefone" id="phone" />    
        </div>
    </div>
    <div class="form-group form-group-lg">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-lock"></i>
            </div>
            <input type="password" class="form-control" placeholder="Senha" id="password" />
        </div>  
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
    </div>      
</div>
