<div class="login-block">
    <h1>Login</h1>
    <div class="form-group form-group-lg">
        <div class="input-group">
            <div class="input-group-addon">
                <span class="fa fa-user"></span>
            </div>
            <input type="text" class="form-control" ng-model="login.username" placeholder="Usuario" id="username" />    
        </div>
    </div>
    <div class="form-group form-group-lg">
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-lock"></i>
            </div>
            <input type="password" class="form-control" ng-model="login.password" placeholder="Senha" id="password" />
        </div>  
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="login()">Entrar</button>
    </div>   
    
   <span  class="separator"> ou </span>

    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block"><span class="fa fa-facebook-official"></span>  Entrar com o Facebook</button>
    </div>   
    
</div>


