
<div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Cadastro de empresas</h2></div>
    <div class="panel-body">
        <div class="form-group col-md-12">
            <label for="name">Nome</label>
            <input type="text" class="form-control" ng-model="institute.name" id="name" />    
        </div>
        <div class="form-group col-md-12">
            <label for="address">Endereço</label>
            <input type="text" class="form-control" ng-model="institute.address" id="address" />    
        </div>
        <div class="form-group col-md-12">
            <label for="register">Registro</label>
            <input type="text" class="form-control" ng-model="institute.registerID" id="register" />    
        </div>
        <div class="form-group col-md-12">
            <label for="expedient">Expediente</label>
            <input type="text" class="form-control" ng-model="institute.expedient" id="expedient" />  
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-danger btn-md" ng-click="institute.insertInstitute()">Cadastrar nova empresa</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success btn-md" ng-click="institute.getInstitute()">Buscar empresas</button>
        </div>
    </div>
</div>

<input type="text" ng-model="institute.image" id="image">